
    <style type="text/CSS">
        h1{ color: :red;font-size: large;}
        h2{color: rgb(226, 119, 43);font-size: x-large;}
        p1{color: cadetblue;font-size: medium;}
    
        p2{color: blanchedalmond;font-size: x-large;}
    </style>
